/* Delete defolt styles */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------ Stylize start ------ */

#calc {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  display: flexbox;
  background-color: #88edff;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #4b4b4b;
}

header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#calculation_div {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}

#scroller_section {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroller_text {
  display: flex;
}

.add_space_before {
  margin-left: 10px;
}

#number_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number_elements {
  display: flex;
  justify-content: flex-end;
}

.counter_window {
  display: flex;
  flex-direction: column;
}

#result_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result_elements {
  display: flex;
  justify-content: flex-end;
}